

.goback{
    display:flex;
    flex-direction: row;
    position:fixed;
    left: 100px;
    color: rgb(21, 216, 200);
    bottom: 100px;
}
.outside{
    background-image: url("../images/background2.jpg");
    
}
.playlistdiv{
    flex:auto;
    flex-wrap: wrap;
    margin-left: 750px;
    margin-top: 250px;
    position: relative;
}
.playlist_header{
    max-width: fit-content;
    margin-inline: auto;
    
}
.playlist_header header{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    color: rgb(21, 216, 200)
}
.title123{
    position: relative;
    left: 265px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(21, 216, 200);
    font-family:'Courier New', Courier, monospace;
}
.outside2{
    background-image: url(../images/tumblr_3.jpg);
    background-size: cover;
    height: 120vh;
    
}

.button123{
    text-align: center;
    background-color: orange;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 850px;
    position: relative;
    left: 210px;
}
.text123{
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
    position: relative;
    left: 210px;
}
.label123{
    position: relative;
    left: 245px;
    padding-right: 45px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(21, 216, 200);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.textsuccess{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    color: yellow;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    right: 35px;
}
.button321{
    background-color: rgb(245, 126, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    padding-left: 15px;
    font-size: 16px;
    right: -25px;
    top: 7.5px;

}